@page "/"
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>Delivery</PageTitle>

<div>
    
    <Header /> 

        <main class="custom-bg">
            @Body
        </main>

    @if(!Header.isOpen()){
        <div class="mt-6"> 
            <Navbar />
        </div>
    }
     
</div>

@code {

    protected override void OnInitialized()
    {
        Header.OnToggleCart += StateHasChanged;
        Navigation.NavigateTo("/home");
    }

    public void Dispose()
    {
        Header.OnToggleCart += StateHasChanged;
    }
}

<style>
    .custom-bg {
    background-color: #e6ddddc0;
    padding-bottom: 2.5rem;
    }   
</style>