@page "/"
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>Delivery</PageTitle>

<div>
    
    <Header /> 

        <main class="custom-bg">
            @Body
        </main>
    @if(!Header.isOpen()){
        <Navbar />
    }
    
    
    
</div>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/home");
    }
}

<style>
    .custom-bg {
    background-color: #e6ddddc0; /* Cinza claro */
    padding-bottom: 2.5rem; /* Isso representa o "pb-10" */
    }   
</style>